header{
    background-color: #150300;
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
}
h1{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 50px;
    margin: 5px 0;
}
p{
    color: grey;
    font-family: sans-serif;
    text-align:center ;
    font-size: 30px;
    margin: 5px 0px;
}
.T a{
    color: white;
}
.nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}
.nav ul li a{
    color: grey;
    text-decoration: none;
}
.nav ul li a:hover{
    text-decoration: underline;
}
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.OurStory{
    display: flex;
    margin: 130px auto;
    padding: 0 20px;
    gap: 100px;
    max-width: 1200px;
    align-items: center;
    text-align: center;
}
.text{
    flex: 1;
    text-align: center;
}
.Image{
    flex: 1;
}
.Image img{
    width: 100%;
    border-top: 50px;
    display: block;
}
.D{
    font-family: "Caveat", cursive;
    font-size: 50px;
    color: #e0b465;
    margin-bottom: 0;
}
.A{
    display: inline-block;
    margin-top: 30px;
    color: #e0b465;
    font-weight: bold;
    font-family: sans-serif;
    padding-bottom: 5px;
}
@media (max-width: 768px) {
    .OurStory {
        flex-direction: column;
        text-align: center;
}
}