header{
    background-color: #150300;
    padding: 5px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
}
.T a{
color: white;
}
.nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}
.nav ul li a{
    color: grey;
    text-decoration: none;
}
.nav ul li a:hover{
    text-decoration: underline;
}
body{
    margin: 0;
    padding: 0;
}
.OurStory{
    display: flex;
    margin: 40px;
    gap: 40px;
    max-width: 1200px;
    align-items: center;
}
.text, .Image{
    flex: 1;
}
.D{
    font-family: georgia, serif;
    color: #e0b465;
}
@media (max-width: 768px) {
    .story-section-container {
        flex-direction: column;
}
}